body {
    background-color: beige;
  }
  
  h1 {
    color: pink;
    font-size: 3rem;
    font-weight: 100;
  }
  .delete-button {
    visibility: hidden;
    border-radius: 5px;
    border-color: rgb(242, 206, 212);
    margin-left: 10px;
  }
  
  .delete-button:hover {
    visibility: visible;
    align-items: right;
  }
  .list-container:hover .delete-button {
    visibility: visible;
  }
  .todo-wrapper {
    margin: 30px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .todo-body {
    margin: 10px 10px 10px 0px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0, 0, 0, 0.15);
  }
  .controlled-input {
    border-style: none;
  }
  
  .todo-footer {
    margin-left: 15px;
  }
  .button-container {
    align-items: end;
  }
  
